.aboutme-cloud-div {
    width: 70vw;
    background: rgba(255, 255, 255, 0.7);
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    animation: bounce 2.3s ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.2s;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    } 50% {
        transform: translateY(5px);
    } to {
        transform: translateY(0px);
    }
}

.aboutme-description {
    font-size: 20px;
    padding: 10px;
}
.aboutme-images {
    width: 50%;
    aspect-ratio: 16/9;
    object-fit:cover;
    height: auto;
}

.aboutme-images-div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: row;
    flex-wrap: wrap;
}