.spline-sans-mono-700 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.spline-sans-mono-600 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.spline-sans-mono-500 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.spline-sans-mono-400 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spline-sans-mono-300 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}