.spline-sans-mono-700 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.spline-sans-mono-600 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.spline-sans-mono-500 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.spline-sans-mono-400 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spline-sans-mono-300 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.gabarito-900 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.gabarito-800 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.gabarito-700 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.gabarito-600 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.gabarito-500 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.gabarito-300 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



