.spline-sans-mono-700 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.spline-sans-mono-600 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.spline-sans-mono-500 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.spline-sans-mono-400 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spline-sans-mono-300 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.gabarito-900 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.gabarito-800 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.gabarito-700 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.gabarito-600 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.gabarito-500 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.gabarito-300 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




html {
    margin: 00px;
    padding: 0; 
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to left top, rgb(51, 145, 182), rgb(185, 229, 248));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
}


body::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40vw;
    height: 40vw;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow, inset 0 0 80px yellow;
    z-index: -1;
    pointer-events: none; /* Allows clicking through */
}