.projects-project-div {
    width: 70vw;
    background: rgba(255, 255, 255, 0.8);
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    animation: bounce 2.3s ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.2s;
    
}.projects-project-div:hover {
    background-color: rgba(255,255,255,0.88);
}

.project-link {
    text-decoration:none;
    font-size: 20px;
    color: black;
    border: 4px dashed black;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    transition: 0.2s;
    background-color: white;
    align-items: center;
    display: flex;
    gap: 4px;
}

.project-link:hover {
    color: yellow;
    background-color: grey;
    border: 4px dashed yellow;
    transform: scale(1.01);
    cursor: pointer;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    } 50% {
        transform: translateY(5px);
    } to {
        transform: translateY(0px);
    }
}


.projects-main-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    gap: 30px;
    animation: fadein 1s ease-out;
    animation-iteration-count: 1;
    overflow-y:scroll;
    scrollbar-width:none;
    padding-bottom: 30px;
} 

.projects-tag-text {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
}

.projects-tag-div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}